<!-- ...existing code... -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% if form.instance.pk %}Editar Publicación{% else %}Crear Publicación{% endif %}</title>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1><a href="{% url 'lista_public' %}">{% if form.instance.pk %}Editar Publicación{% else %}Crear Publicación{% endif %}</a></h1>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>{% if form.instance.pk %}Editar{% else %}Nueva{% endif %} Publicación</h2>
                <form method="POST" class="post-form" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-actions">
                        <button type="submit" class="save btn btn-primary">Guardar</button>
                        <a href="{% url 'lista_public' %}" class="btn btn-default">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>